#controlPanel {
  padding: 1rem;
}
#statusPanel {
  padding: 1rem;
}
#map {
  width: 100%;
  height: 80vh;
}

.cell-label-inner {
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  user-select: none;
}
